html, body {
    height: 100%;
} 

.row {
    width: 100%;
}


#home-section {
	background-image: url('drill2.jpeg');
	background-position: center;
    
  }

 .nav-item a {
	color: white;
	font-size: 1.6rem;
	text-align: left;

}

.navbar-toggler {
	color: white;
	width: 20px;
}

a.navbar-brand {
	margin: 0px;
	padding: 0px;

}

.navbar-brand img {
	border-radius: 50%;
}

#navbarSupportedContent {
	margin: 0px;
 }

.songs {
	margin-top: 20px;
}

.embed-responsive-item {
	width: 100%;
	border-radius: 3%;
	border: 1px solid gray;
	margin-bottom: 10px;
}

.song-title {
	color: #575b5f;
	text-align: center;
	margin-bottom: 40px;
}

.ribolov-title {
	margin-top: 30px;
	margin-left: 10px;
	color: black;
	text-align: left;
	border-width: 1px solid gray;
}

